*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-principal{
height: 30vh;
}

.contenedor{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.input{
    width: 99%;
    font-size: 160%;
    text-align: center;
    letter-spacing: 4px;
    display: none;
}
.input-entrada{
    width: 99%;
    font-size: 160%;
    text-align: center;
    letter-spacing: 4px;
    

}

.reloj{
    font-size: 150%;
}

.puntaje{
    font-size: 150%;
    
}
.dis-block{
    display: block;
}

.tablero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}
.resultado{
    font-size: 185%;
    
}

.ganadas{
    font-size: 185%;
}


.errores{
    color: red;
}
