*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-principal{
height: 30vh;
}

.contenedor{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input{
    width: 99%;
    font-size: 160%;
    text-align: center;
    letter-spacing: 4px;
}

.tablero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}
.resultado{
    font-size: 185%;
}